#san {
    height: 650px;

}
.para-style{
  color: red;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}
.my-style{
  color: tomato;
  font-size: 3rem;
}
.anim{
  box-shadow: 0 15px 18px 0 tomato;
  opacity: 0.5;
}
.style1{
  color: blueviolet;
  font-style: italic;

}
.container {
    width: 100%;
    padding-right: -1px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
